
<div class="TCD-flex-container">
  <% collections.each do |collection| %>
    <% col_rec = Collection.find(collection.id) %>
    <div class="TCD-flex-item">
        <%= link_to [hyrax, collection],  'aria-hidden' => true do %>
          <img src="/<%= col_rec.flex_image ? col_rec.flex_image : 'default_flex_img.jpg' %>" alt=<%= collection.title_or_label %> class="TCD-image">

          <div class="TCD-overlay">
            <div class="TCD-text"><%= collection.title_or_label %></div>
          </div>
        <% end %>
    </div>
  <% end %>
</div>

<div>&nbsp;</div>
