<footer class="navbar navbar-inverse site-footer">
  <div class="container-fluid">
    <div class="navbar-text text-left">

        <p>
            <strong>Trinity College Dublin, The University of Dublin</strong><br />
            College Green, Dublin 2, Ireland<br />
            T: <a href="tel:0035318961000" class="foot">+353 1 896 1000</a><br />
        </p>



    </div>
    <div class="navbar-right">
      <div class="navbar-text text-right">
        <p><%= t('hyrax.footer.service_html') %></p>
        <p><%= t('hyrax.product_name') %> v<%= Hyrax::VERSION %></p>
        <p><%= t('hyrax.footer.copyright_html') %></p>
      </div>
    </div>
  </div>
</footer>
