<h1>Export to Mendeley</h1>
<p>Exporting to Mendeley is supported via embedded metadata. </p>
<p>To use, you will need to create an account with <a href="https://www.mendeley.com" target="_new">Mendeley</a> and install their app and browser plugins. </p>
<p>Mendeley will then pull the linked data into your Mendeley library.</p>
