<h1>Export to Zotero</h1>
<p>Exporting to Zotero is supported via embedded metadata. </p>
<p>To use, you will need to create an account with <a href="https://www.zotero.org/" target="_new">Zotero</a> and install their app and browser plugins. </p>
<p>Zotero will then pull the linked data into your Zotero library.</p>
