<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Digital Collections Fixity Audit</h1>
    <p>
      Fixity Audit has run for week number <%= @week_no %>.<br>
    </p>
    <p>Please login to Digital Collections Dashboard to check latest results.</p>
  </body>
</html>
