<div><%= t('hyrax.pages.tabs.search_tips_html') %></div>

        <h1>Watch Our Search Tips Videos</h1>
        <h4>Digital Collections Search Guide - Exact Phrase Search</h4>
        <div class="panel panel-default">
          <div class="panel-body">
            <p>How to perform exact (targeted) searches on Digital Collections TCD using the example of the Dublin Apocalypse and its call number: "IE TCD MS 64”.</p>
            <p><iframe width="560" height="315" src="https://www.youtube.com/embed/iNwfgSWynSs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
          </div>
        </div>

        <h4>Digital Collections Search Guide - Using search operator <b>+</b></h4>
        <div class="panel panel-default">
          <div class="panel-body">
            <p>How to use the search operator + within searches on Digital Collections TCD using the example: +"Home Rule" +"Robinson"</p>
            <p><iframe width="560" height="315" src="https://www.youtube.com/embed/fzCigtmBAFE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
          </div>
        </div>

        <h4>Digital Collections Search Guide - Using search operator <b>-</b></h4>
        <div class="panel panel-default">
          <div class="panel-body">
            <p>How to use the search operator + within searches on Digital Collections TCD using the example: +"Robinson" -"Home Rule"</p>
            <p><iframe width="560" height="315" src="https://www.youtube.com/embed/FGC-D_jss7Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
            </div>
        </div>

        <h4>Digital Collections Search Guide - Using search operator <b>or</b></h4>
        <div class="panel panel-default">
          <div class="panel-body">
            <p>How to perform targeted searches on Digital Collections TCD using <b>or</b> and the example: "Charles Stewart Parnell" or "Isaac Butt".</p>
            <p><iframe width="560" height="315" src="https://www.youtube.com/embed/44t6_-AYQGU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
          </div>
        </div>
