ACTION_MAILER_DEFAULT_FROM='no-reply@datacollaboratory.org'
ADMIN_MAILER_ADMIN_EMAIL='trinity-hyrax@dibbs.rutgers.edu'
ADMIN_MAILER_DEFAULT_FROM='no-reply@datacollaboratory.org'
ADMIN_MAILER_LOGIN_URL='trinity.docker'
DB_ADAPTER=mysql2
DEVISE_MAILER_SENDER='trinity-hyrax@dibbs.rutgers.edu'
DOCKER_CERT_PATH=/etc/docker/cert.pem
DOCKER_HOST=trinity.docker
DOCKER_TLS_VERIFY=1
FEDORA_PASSWORD=fedoraAdmin
FEDORA_URL=http://fcrepo:8080/fcrepo/rest
FEDORA_USER=fedoraAdmin
FITS_PATH=/opt/fits/fits.sh
HYRAX_CONTACT_EMAIL='trinity-hyrax@dibbs.rutgers.edu'
HYRAX_HOSTNAME='trinity.docker'
MAILBOXER_DEFAULT_FROM='no-reply@datacollaboratory.org'
MYSQL_DATABASE=trinity
MYSQL_HOST=mysql
MYSQL_PASSWORD=trinityPassword
MYSQL_ROOT_PASSWORD=trinityPassword
MYSQL_USER=trinity
PASSENGER_APP_ENV=production
RACK_ENV=production
RAILS_ENV=production
RAILS_LOG_TO_STDOUT=true
RAILS_SERVE_STATIC_FILES=true
REDIS_HOST=redis
REGISTRY_HOST=registry.gitlab.com
REGISTRY_URI=/notch8/trinity-college-dublin
SECRET_KEY_BASE=6f9ecfd0e0cde9de8a9e88e72cb06aaeea13fd47d74c8e93d332f580d0338f2c04d137d52f66174f199ff085eacdc3a4c6cc8cf1ac5e46a291be487f71cd5014
SENTRY_DSN=https://6302d9ffa73f459cb45fc97a74cc87e2:d4be07cee3674da488495ad78b97a12c@sentry.notch8.com/35
SOLR_URL=http://solr:8983/solr/hyrax