<!-- <a id="logo" class="navbar-brand" href="<%= hyrax.root_path %>" data-no-turbolink="true"> -->
<!--    <span class="institution_name"><%= institution_name_full %></span> -->
<!-- </a> -->

<a id="logo" class="navbar-brand" href="https://www.tcd.ie" target="_blank" data-no-turbolink="true">
  <span class="institution_name">  <img src= "/tcd-logo-2x.png" alt="Trinity College Dublin logo"  style="width:232px;object-fit: contain;"/>
</a>
