
<link rel="search" href="//www.tcd.ie/assets/xml/tcd-opensearch/tcd-opensearch.xml" title="Trinity College Dublin" type="application/opensearchdescription+xml" />
<link rel="shortcut icon" href="//www.tcd.ie/favicon.ico?v=3" type="image/x-icon" />
<link href="//www.tcd.ie/tms/2/tms-css.php?cache=203,2,&amp;site_index_key=%2Flibrary%2F" media="all" rel="Stylesheet" />
<!--script src="//www.tcd.ie/tms/2/tms-js.php?cache=63,1,&amp;site_index_key=%2Flibrary%2F"></script> -->

<header>
		<div class="tier-tcd-header">
			<div class="lay-centered width-max">
				<!-- TCD Header -->
<div id="tcd-cookie-notice-placeholder"></div>
<div class="tcd-header">
  <div class="tcd-header-inner">
    <div class="tcd-header-inner2"> <a class="tcd-skip" href="#main-content">Skip to main content</a>
      <h2><a href="//www.tcd.ie"><span class="tcdhomelink-tcdheader">Trinity College Dublin, The University of Dublin<span></span></span></a></h2>
      <div class="tcd-header-section">
        <p class="tcd-header-toggles"><a class="tcd-header-toggle tcd-header-toggle-menu" href="#tcd-header-panel-menu"><img src="//www.tcd.ie/tms/2/t/trinity-theme-2015/assets/php/tcd-header-footer/2013e/img/menu.jpg" alt="Trinity Menu" /></a> <a class="tcd-header-toggle tcd-header-toggle-search" href="#tcd-header-panel-search"><img src="//www.tcd.ie/tms/2/t/trinity-theme-2015/assets/php/tcd-header-footer/2013e/img/search.jpg" alt="Trinity Search" /></a></p>
        <div id="tcd-header-panel-search" class="tcd-header-panel tcd-header-panel-search">
          <div class="tcd-header-panel-inner">
            <h3>Trinity Search</h3>

<div class="tcd-search-app tcd-search-app-form tcd-search-app-q-unfocussed" data-tcd-search-app-id="0">
<form method="get" action="//www.tcd.ie/search/q/" accept-charset="utf-8">
    <div class="tcd-search-app-box">
        <div class="tcd-search-app-box-inner">
             <span class="tcd-search-app-label-wrap"><label for="tcd-search-app-q1">Your query</label></span
            ><span class="tcd-search-app-q-wrap"><input type="search" name="tcdsearchq" id="tcd-search-app-q1" placeholder="Search The Library of Trinity College Dublin" value="" /></span
            ><span class="tcd-search-app-reset-wrap"><span class="tcd-search-app-reset"></span></span
            ><span class="tcd-search-app-collection-wrap"><span class="tcd-search-app-collection"><span></span></span><label for="tcdsearchcollection0">Search collection</label><select name="tcdsearchcollection" id="tcdsearchcollection0"><option value="site" selected>The Library of Trinity College Dublin</option><option value="alltcd">All Trinity</option><option value="undergraduatecourses">Undergraduate Courses</option><option value="postgraduatecourses">Postgraduate Courses</option><option value="people">Staff</option><option value="az">AZ of Trinity Areas</option><option value="collegemaps">Trinity Maps</option><option value="researchthemes">Research Expertise</option><option value="stellacatalogue">Library Catalogue</option><option value="librarycatalogue">Library Catalogue</option><option value="tara">TARA Research Archive</option><option value="newseventswordpress">News Events</option></select><input type="hidden" name="tcdsearchsitetitle" value="The Library of Trinity College Dublin" /><input type="hidden" name="tcdsearchsitesearch" value="https://www.tcd.ie/library" /></span><span class="tcd-search-app-submit-wrap"><input type="submit" value="Go" /></span>
        </div>
    </div>
</form>
</div>
          </div>
        </div>
        <div id="tcd-header-panel-menu" class="tcd-header-panel tcd-header-panel-menu">
          <div class="tcd-header-panel-inner">
            <div class="tcd-header-menu">
              <h3>Trinity Menu</h3>
              <ul>
                <li><a href="//www.tcd.ie/structure/"><span>Faculties and Schools</span></a></li>
                <li><a href="//www.tcd.ie/courses/"><span><span class="tcd-header-footer-visually-hidden">Trinity </span>Courses</span></a></li>
                <li><a href="//www.tcd.ie/research/"><span><span class="tcd-header-footer-visually-hidden">Trinity </span>Research</span></a></li>
                <li><a href="//www.tcd.ie/az/"><span>A–Z</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

			</div>
		</div>
		<hr class="cloak" title="End of the Trinity College header" />


    		<div class="tier-site-header">
    			<div class="lay-centered width-max">
    				<div class="site-header">
    					<h2 class="site-header--title">
    						<a class="site-header--title-link" href="//www.tcd.ie/library/">
    							<span class="site-header--title-text">The Library of Trinity College Dublin</span>
    						</a>
    					</h2>
    				</div>
    			</div>
    		</div>

    		<div class="tier-site-header-nav">
    			<div class="lay-centered width-max">
    				<nav class="nav-site-header">
    					<div class="section-site-header-language-switcher"><h2 class="section--title">Language</h2><p><a href="index.ga.php">Gaeilge</a> </p></div>
    					<div class="nav-site-header-index-button">
    						<a href="#section-site-index">
    							<span class="nav-site-header-index-button-text">
    								<span class="nav-site-header-index-button-text-inner">Menu</span>
    							</span>
    						</a>
    					</div>
    					<ul>
    <li class="on open selected"><a href="//www.tcd.ie/library/" class="on selected">Home</a></li>
    <li><a href="//www.tcd.ie/library/collections/">Search Collections</a></li>
    <li><a href="//www.tcd.ie/library/using-library/">Using the Library</a></li>
    <li><a href="//www.tcd.ie/library/about/">About the Library</a></li>
    <li><a href="//www.tcd.ie/library/support/">Support &amp; Training</a></li>
    <li><a href="//www.tcd.ie/library/events/">Events</a></li>
    <li><a href="//www.tcd.ie/library/contact/">Contact</a></li>
    </ul>

    				</nav>
    			</div>
    		</div>
    		<div class="tier-site-index">
    			<div class="lay-centered width-max">
    				<div class="section-site-index-placeholder"></div>
    			</div>
    		</div>

    <div class="collapse navbar-collapse" id="top-navbar-collapse">
      <%= render '/user_util_links' %>
    </div>

		<hr class="cloak" title="End of the website header" />

	</header>
