.representative-media {
  display: block;
  padding: 0.5em 0;
  width: 250px;
}

.canonical-image {
  display: block;
  padding: 0.5em 0;
  width: 250px;
}

.TCDrepresentative-media {
  display: block;
  padding: 0.5em 0;
  max-width: 100%;
}

.TCDcanonical-image {
  display: block;
  padding: 0.5em 0;
  max-width: 100%;
}
